<!DOCTYPE html>
<html lang="en">
<%- include("./components/meta.ejs") %> 
<body class="bg-gray-100 font-readex " >
    <%- include("./components/Navbar.ejs") %> 

    <section class="lg:mx-24 mx-4 mt-10 mb-24" >
        <p class="text-red-500 py-2 text-sm" id="message"></p>
        <form id="submitForm" class="mx-auto" method="post">
            
            <div>
                <label class="block" for="title">Title</label>
                <input type="text" class="p-3 border w-full mt-2 focus:outline-none" name="title" id="title" placeholder="Enter a title">
            </div>

            <div class="mt-2" >
                <label class="block" for="body">Body</label>
                <textarea name="body" class="p-3 border w-full mt-2 focus:outline-none" id="body"  placeholder="Enter a post" cols="30" rows="5"></textarea>
            </div>

            <div>
                <label class="block" for="author">Author</label>
                <input type="text" class="p-3 border w-full mt-2 focus:outline-none" name="author" id="author" placeholder="Enter the author">
            </div>
        
            <button class="p-3 bg-black text-white mt-4" >Submit</button>
        </form>
    </section>

    <%- include("./components/footer.ejs") %> 
    <script src="js/create.js"></script>
</body>
</html>