<section class="bg-white" >
    <header class="mx-auto md:container p-4 bg-white" >
        <div class="grid grid-cols-2" >
            <div>
                <a href="/">Blogger</a>
            </div>
            <div>
                <ul class="flex space-x-6 justify-end flex-grow">
                    <li><a href="/blogs">All Blogs</a></li>
                    <li><a href="/add-blog">Add Post</a></li>
                </ul>
            </div>
        </div>
    </header>
</section>  